Repository abevz/platform-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, golangci-lint

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=config/roles ANSIBLE_CONFIG=config/ansible.cfg ansible-lint
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  require_serial: true
  pass_filenames: false

docs: update README.md and iac-wrapper.sh comments
  README.md
  tools/iac-wrapper.sh
Due: none

feat(clickhouse): add 3-node cluster with keeper, SSL, and 3x2 shard topology
  config/group_vars/all.yml
  config/playbooks/setup_clickhouse.yml
  config/roles/clickhouse_setup/defaults/main.yml
  config/roles/clickhouse_setup/handlers/main.yml
  config/roles/clickhouse_setup/tasks/cluster.yml
  config/roles/clickhouse_setup/tasks/install.yml
  config/roles/clickhouse_setup/tasks/keeper.yml
  config/roles/clickhouse_setup/tasks/main.yml
  config/roles/clickhouse_setup/tasks/ssl.yml
  config/roles/clickhouse_setup/tasks/users.yml
  config/roles/clickhouse_setup/templates/config.xml.j2
  config/roles/clickhouse_setup/templates/keeper_config.xml.j2
  config/roles/clickhouse_setup/templates/users_admin.xml.j2
  config/roles/clickhouse_setup/templates/users_default_disable.xml.j2
  infra/dev/clickhouse/backend.tf
  infra/dev/clickhouse/cp-userdata.tftpl
  infra/dev/clickhouse/main.tf
  infra/dev/clickhouse/outputs.tf
  infra/dev/clickhouse/providers.tf
  infra/dev/clickhouse/variables.tf
  tools/clickhouse/demo/01_create_shard_databases.sql
  tools/clickhouse/demo/02_create_local_tables.sql
  tools/clickhouse/demo/03_create_materialized_views.sql
  tools/clickhouse/demo/04_create_distributed.sql
  tools/clickhouse/demo/05_insert_test_data.sql
  tools/clickhouse/demo/06_verify.sql
  tools/clickhouse/demo/README.md
Due: ansible-lint

fix(clickhouse): restore local cluster replica detection
  config/roles/clickhouse_setup/tasks/cluster.yml
  config/roles/clickhouse_setup/tasks/install.yml
  config/roles/clickhouse_setup/templates/config.xml.j2
Due: ansible-lint

chore: ignore local codex files
  .gitignore
Due: none

feat: add ClickHouse circular cluster demo
  .pre-commit-config.yaml
  config/roles/clickhouse_setup/tasks/main.yml
  config/roles/clickhouse_setup/tasks/users.yml
  config/roles/clickhouse_setup/templates/config.xml.j2
  tools/clickhouse/demo/00_cleanup_keeper_replicas.sql
  tools/clickhouse/demo/00_drop_demo_objects.sql
  tools/clickhouse/demo/01_create_shard_databases.sql
  tools/clickhouse/demo/01_create_shard_databases_ch1.sql
  tools/clickhouse/demo/01_create_shard_databases_ch2.sql
  tools/clickhouse/demo/01_create_shard_databases_ch3.sql
  tools/clickhouse/demo/02_create_local_tables.sql
  tools/clickhouse/demo/02_create_local_tables_ch1.sql
  tools/clickhouse/demo/02_create_local_tables_ch2.sql
  tools/clickhouse/demo/02_create_local_tables_ch3.sql
  tools/clickhouse/demo/03_create_materialized_views.sql
  tools/clickhouse/demo/03_create_materialized_views_ch1.sql
  tools/clickhouse/demo/03_create_materialized_views_ch2.sql
  tools/clickhouse/demo/03_create_materialized_views_ch3.sql
  tools/clickhouse/demo/04_create_distributed.sql
  tools/clickhouse/demo/05_insert_test_data.sql
  tools/clickhouse/demo/06_verify.sql
  tools/clickhouse/demo/07_benchmark_insert_1m.sql
  tools/clickhouse/demo/07_benchmark_report.sql
  tools/clickhouse/demo/07_benchmark_select_aggregate.sql
  tools/clickhouse/demo/07_benchmark_select_aggregate_null.sql
  tools/clickhouse/demo/07_cleanup_benchmark_data_ch1.sql
  tools/clickhouse/demo/07_cleanup_benchmark_data_ch2.sql
  tools/clickhouse/demo/07_cleanup_benchmark_data_ch3.sql
  tools/clickhouse/demo/README.md
  tools/clickhouse/demo/go.mod
  tools/clickhouse/demo/main.go
Due: ansible-lint, golangci-lint

docs: add platform git workflow rules
  AGENTS.md
Due: none

docs: define observability env overlays
  decisions/ADR-002-observability-stack-architecture.md
  observability/README.md
  observability/consumers/hcro/grafana/dashboards/README.md
  observability/consumers/hcro/loki/pipeline.yaml
  observability/consumers/hcro/prometheus/rules.yaml
  observability/consumers/hcro/prometheus/servicemonitor-reference.yaml
  observability/envs/dev/k8s-lab-01/README.md
  observability/envs/dev/monitoring-vm/README.md
Due: ansible-lint

docs: define vault secrets MVP
  docs/README.md
  docs/decisions/ADR-001-vault-based-secrets-architecture.md
  docs/decisions/ADR-002-observability-stack-architecture.md
  docs/index.md
  docs/secrets-architecture.md
  observability/README.md
  observability/consumers/hcro/grafana/dashboards/README.md
Due: none

docs: polish README portfolio summary
  README.md
  docs/README.md
  docs/index.md
Due: none

feat: add vault MVP component
  config/playbooks/setup_vault.yml
  config/roles/README.md
  config/roles/vault_server/README.md
  config/roles/vault_server/defaults/main.yml
  config/roles/vault_server/handlers/main.yml
  config/roles/vault_server/tasks/main.yml
  config/roles/vault_server/templates/vault-snapshot-backup.sh.j2
  config/roles/vault_server/templates/vault-snapshot-s3.env.j2
  config/roles/vault_server/templates/vault-snapshot.service.j2
  config/roles/vault_server/templates/vault-snapshot.timer.j2
  config/roles/vault_server/templates/vault.hcl.j2
  config/secrets/ansible/extra_vars.sops.yml.example
  config/secrets/vault/bootstrap.sops.yml.example
  docs/README.md
  docs/index.md
  docs/secrets-architecture.md
  infra/dev/vault/backend.tf
  infra/dev/vault/cp-userdata.tftpl
  infra/dev/vault/main.tf
  infra/dev/vault/outputs.tf
  infra/dev/vault/providers.tf
  infra/dev/vault/variables.tf
Due: ansible-lint

fix: require explicit vault VMID
  config/roles/vault_server/README.md
  docs/secrets-architecture.md
  infra/dev/vault/terraform.tfvars.example
  infra/dev/vault/variables.tf
Due: none

fix: allow automatic vault VMID allocation
  config/roles/vault_server/README.md
  docs/secrets-architecture.md
  infra/dev/vault/terraform.tfvars.example
  infra/dev/vault/variables.tf
Due: none

fix: separate platform and mail domains
  config/group_vars/all.yml
  config/inventory/static.ini
  config/roles/monitoring_stack/tasks/main.yml
  config/roles/monitoring_stack/templates/docker-compose.yml.j2
  config/roles/nginx_proxy_setup/defaults/main.yml
  config/roles/nginx_proxy_setup/templates/default.conf.j2
  config/roles/nginx_proxy_setup/templates/nginx.conf.j2
  config/secrets/ansible/extra_vars.sops.yml.example
  tools/add_pihole_dns.py
  tools/iac-wrapper.sh
Due: ansible-lint

feat: upload vault snapshots to MinIO
  config/roles/vault_server/README.md
  config/roles/vault_server/defaults/main.yml
  config/roles/vault_server/tasks/main.yml
  config/roles/vault_server/templates/vault-snapshot-backup.sh.j2
  config/roles/vault_server/templates/vault-snapshot-s3.env.j2
  docs/secrets-architecture.md
Due: ansible-lint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$ and \.(yaml|yml)$
  golangci-lint: any of: \.go$
